{% extends 'base.html' %}

{% block body %}
  <div class="backarea">
    <a href="/">&lt; Back</a>
  </div>

  <div class="main">
    <h2>FUND ESCROW</h2>

    <div class="inputs">
      <form action="/transaction" method="post">
        <input type="email" placeholder="Receiver Email" name="receiver" />
        <input type="number" placeholder="$ Amount" name="value" />
        <input class="des" placeholder="Description" type="text" name="description" />
        <input type="submit" value="" />
      </form>
    </div>
  </div>
{% endblock %}
