{% extends 'transaction.html' %}

{% block manage %}
Read link: <a href="/transaction/{{ transaction.read_uuid }}">{{ transaction.read_uuid }}</a>.
Share that link with someone to show them this escrow!
<div>
  <form action="/manage/{{ transaction.manage_uuid }}/release" method="post">
    <input type="submit" value="Release funds" />
  </form>
  <form action="/manage/{{ transaction.manage_uuid }}/refund" method="post">
    <input type="submit" value="Request refund" />
  </form>
</div>
{% endblock %}
