<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Escrowd</title>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="wrapper">

<img src="/static/crow.png" class="logo"/> 

<h1>$300</h1>

<p>This payment is for an awesome custom tatoo illustration on paper. I will release the funds when we agree on the final graphic.
</p>


</div>

</body>
</html>
